# ‚ú® Feature Engineering

---

## 1. Calendar Features (‡∏ü‡∏µ‡πÄ‡∏à‡∏≠‡∏£‡πå‡∏õ‡∏è‡∏¥‡∏ó‡∏¥‡∏ô)
- **‡∏†‡∏≤‡∏©‡∏≤‡πÑ‡∏ó‡∏¢:**  
  ‡πÄ‡∏£‡∏≤‡∏™‡∏£‡πâ‡∏≤‡∏á‡∏ü‡∏µ‡πÄ‡∏à‡∏≠‡∏£‡πå‡πÉ‡∏´‡∏°‡πà‡∏à‡∏≤‡∏Å‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà ‡πÄ‡∏ä‡πà‡∏ô `Year`, `Month`, `Week`, `Quarter`, ‡πÅ‡∏•‡∏∞ `DayOfWeek`  
  ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡πÉ‡∏´‡πâ‡πÇ‡∏°‡πÄ‡∏î‡∏•‡πÄ‡∏£‡∏µ‡∏¢‡∏ô‡∏£‡∏π‡πâ‡∏ú‡∏•‡∏Å‡∏£‡∏∞‡∏ó‡∏ö‡∏à‡∏≤‡∏Å‡∏§‡∏î‡∏π‡∏Å‡∏≤‡∏•‡πÅ‡∏•‡∏∞‡∏ä‡πà‡∏ß‡∏á‡πÄ‡∏ß‡∏•‡∏≤  

- **English:**  
  We generated new calendar features such as `Year`, `Month`, `Week`, `Quarter`, and `DayOfWeek`.  
  These help the model capture seasonality and time-related effects.  

---

### 1) Load CSV & Parse Dates ‚Äî ‡πÇ‡∏´‡∏•‡∏î‡πÑ‡∏ü‡∏•‡πå‡πÅ‡∏•‡∏∞‡πÅ‡∏õ‡∏•‡∏á‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà

**‡πÑ‡∏ó‡∏¢:** ‡πÇ‡∏´‡∏•‡∏î‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏î‡πâ‡∏ß‡∏¢ `pd.read_csv(...)` ‡πÅ‡∏•‡∏∞‡πÅ‡∏õ‡∏•‡∏á‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå `Date` ‡πÄ‡∏õ‡πá‡∏ô‡∏ä‡∏ô‡∏¥‡∏î‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà‡∏î‡πâ‡∏ß‡∏¢ `pd.to_datetime(..., dayfirst=True, errors='coerce')` ‡∏à‡∏≤‡∏Å‡∏ô‡∏±‡πâ‡∏ô‡πÄ‡∏£‡∏µ‡∏¢‡∏á‡∏•‡∏≥‡∏î‡∏±‡∏ö‡∏ï‡∏≤‡∏° `Store`, `Date` ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡πÉ‡∏´‡πâ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡πÄ‡∏õ‡πá‡∏ô‡∏•‡∏≥‡∏î‡∏±‡∏ö‡πÄ‡∏ß‡∏•‡∏≤

**English:** Read the dataset using `pd.read_csv(...)` and convert the `Date` column with `pd.to_datetime(..., dayfirst=True, errors='coerce')`. Then sort by `Store`, `Date` to establish temporal order.

In [1]:
import pandas as pd
from pathlib import Path

# ‡∏£‡∏∞‡∏ö‡∏∏ path dataset
base_dir = Path(r"S:\BusinessAnalyticProject\data")
data_path = base_dir / "Walmart_Sales.csv"

# ‡πÇ‡∏´‡∏•‡∏î dataset
df = pd.read_csv(data_path)

# ‡πÅ‡∏õ‡∏•‡∏á‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà (‡πÉ‡∏´‡πâ pandas ‡πÄ‡∏î‡∏≤ format ‡πÇ‡∏î‡∏¢‡∏™‡∏°‡∏°‡∏ï‡∏¥ dayfirst)
df['Date'] = pd.to_datetime(df['Date'], dayfirst=True, errors='coerce')

# ‡∏ï‡∏£‡∏ß‡∏à NaT ‡πÄ‡∏ú‡∏∑‡πà‡∏≠‡∏°‡∏µ‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà‡∏ó‡∏µ‡πà parse ‡πÑ‡∏°‡πà‡πÑ‡∏î‡πâ
print("Unparsed dates (NaT):", df['Date'].isna().sum())

# ‡∏à‡∏±‡∏î‡πÄ‡∏£‡∏µ‡∏¢‡∏á‡∏ï‡∏≤‡∏° Store + Date
df = df.sort_values(['Store', 'Date']).reset_index(drop=True)

df.head()

Unparsed dates (NaT): 0

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,2010-02-05,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,2010-02-12,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,2010-02-19,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,2010-02-26,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,2010-03-05,1554806.68,0,46.50,2.625,211.350143,8.106

### 2) Calendar Features ‚Äî ‡∏ü‡∏µ‡πÄ‡∏à‡∏≠‡∏£‡πå‡∏õ‡∏è‡∏¥‡∏ó‡∏¥‡∏ô

**‡πÑ‡∏ó‡∏¢:** ‡∏™‡∏£‡πâ‡∏≤‡∏á‡∏ü‡∏µ‡πÄ‡∏à‡∏≠‡∏£‡πå‡πÄ‡∏ß‡∏•‡∏≤ ‡πÄ‡∏ä‡πà‡∏ô `Year`, `Month`, `Week`, `Quarter`, `DayOfWeek` ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡πÉ‡∏´‡πâ‡πÇ‡∏°‡πÄ‡∏î‡∏•‡∏™‡∏≤‡∏°‡∏≤‡∏£‡∏ñ‡πÄ‡∏£‡∏µ‡∏¢‡∏ô‡∏£‡∏π‡πâ‡∏£‡∏π‡∏õ‡πÅ‡∏ö‡∏ö‡∏§‡∏î‡∏π‡∏Å‡∏≤‡∏• (seasonality) ‡πÅ‡∏•‡∏∞‡∏Ñ‡∏ß‡∏≤‡∏°‡πÅ‡∏ï‡∏Å‡∏ï‡πà‡∏≤‡∏á‡∏ï‡∏≤‡∏°‡∏ß‡∏±‡∏ô/‡∏™‡∏±‡∏õ‡∏î‡∏≤‡∏´‡πå‡πÑ‡∏î‡πâ"

**English:** Create calendar features such as `Year`, `Month`, `Week`, `Quarter`, and `DayOfWeek` to capture seasonality and time-related effects.

In [2]:
df['Year']      = df['Date'].dt.year
df['Month']     = df['Date'].dt.month
df['Week']      = df['Date'].dt.isocalendar().week.astype(int)
df['Quarter']   = df['Date'].dt.quarter
df['DayOfWeek'] = df['Date'].dt.dayofweek  # Monday=0

# seasonality ‡πÅ‡∏ö‡∏ö‡∏ß‡∏á‡∏à‡∏£
import numpy as np
df['Month_sin'] = np.sin(2*np.pi*df['Month']/12)
df['Month_cos'] = np.cos(2*np.pi*df['Month']/12)
df['Peak_Season_Flag'] = df['Month'].isin([11, 12]).astype(int)

pd.options.display.float_format = '{:.4f}'.format  # ‡πÅ‡∏™‡∏î‡∏á‡∏ó‡∏®‡∏ô‡∏¥‡∏¢‡∏° 4 ‡∏ï‡∏≥‡πÅ‡∏´‡∏ô‡πà‡∏á
df.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Year,Month,Week,Quarter,DayOfWeek,Month_sin,Month_cos,Peak_Season_Flag
0,1,2010-02-05,1643690.9000,0,42.3100,2.5720,211.0964,8.1060,2010,2,5,1,4,0.8660,0.5000,0
1,1,2010-02-12,1641957.4400,1,38.5100,2.5480,211.2422,8.1060,2010,2,6,1,4,0.8660,0.5000,0
2,1,2010-02-19,1611968.1700,0,39.9300,2.5140,211.2891,8.1060,2010,2,7,1,4,0.8660,0.5000,0
3,1,2010-02-26,1409727.5900,0,46.6300,2.5610,211.3196,8.1060,2010,2,8,1,4,0.8660,0.5000,0
4,1,2010-03-05,1554806.6800,0,46.5000,2.6250,211.3501,8.1060,2010,3,9,1,4,1.0000,0.0000,0

### 3) CPI Deflation ‚Üí Real Sales ‚Äî ‡∏õ‡∏£‡∏±‡∏ö‡πÄ‡∏á‡∏¥‡∏ô‡πÄ‡∏ü‡πâ‡∏≠‡πÄ‡∏õ‡πá‡∏ô‡∏¢‡∏≠‡∏î‡∏Ç‡∏≤‡∏¢‡πÅ‡∏ó‡πâ‡∏à‡∏£‡∏¥‡∏á  

**‡∏†‡∏≤‡∏©‡∏≤‡πÑ‡∏ó‡∏¢:**  
‡πÄ‡∏£‡∏≤‡∏õ‡∏£‡∏±‡∏ö‡∏¢‡∏≠‡∏î‡∏Ç‡∏≤‡∏¢‡∏£‡∏≤‡∏¢‡∏™‡∏±‡∏õ‡∏î‡∏≤‡∏´‡πå‡∏à‡∏≤‡∏Å‡∏°‡∏π‡∏•‡∏Ñ‡πà‡∏≤‡∏ó‡∏µ‡πà‡∏£‡∏ß‡∏°‡∏ú‡∏•‡∏Ç‡∏≠‡∏á‡πÄ‡∏á‡∏¥‡∏ô‡πÄ‡∏ü‡πâ‡∏≠ (nominal) ‡πÉ‡∏´‡πâ‡πÄ‡∏õ‡πá‡∏ô **‡∏°‡∏π‡∏•‡∏Ñ‡πà‡∏≤‡∏Ñ‡∏á‡∏ó‡∏µ‡πà** (real) ‡∏î‡πâ‡∏ß‡∏¢ CPI ‡∏õ‡∏µ‡∏ê‡∏≤‡∏ô  
- ‡∏´‡∏≤ `base_year` ‡∏à‡∏≤‡∏Å‡∏õ‡∏µ‡∏ó‡∏µ‡πà‡πÄ‡∏•‡πá‡∏Å‡∏ó‡∏µ‡πà‡∏™‡∏∏‡∏î‡πÉ‡∏ô‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏• ‡πÅ‡∏•‡∏∞‡∏Ñ‡∏≥‡∏ô‡∏ß‡∏ì `base_cpi` ‡πÄ‡∏õ‡πá‡∏ô‡∏Ñ‡πà‡∏≤ CPI ‡πÄ‡∏â‡∏•‡∏µ‡πà‡∏¢‡∏Ç‡∏≠‡∏á‡∏õ‡∏µ‡∏ô‡∏±‡πâ‡∏ô  
- ‡∏™‡∏π‡∏ï‡∏£‡∏ó‡∏µ‡πà‡πÉ‡∏ä‡πâ:  
  \[
  \text{Weekly\_Sales\_Real} = \text{Weekly\_Sales} \times \left(\frac{\text{base\_cpi}}{\text{CPI}}\right)
  \]  
- ‡∏ó‡∏≥‡πÉ‡∏´‡πâ‡∏™‡∏≤‡∏°‡∏≤‡∏£‡∏ñ **‡πÄ‡∏õ‡∏£‡∏µ‡∏¢‡∏ö‡πÄ‡∏ó‡∏µ‡∏¢‡∏ö‡∏Ç‡πâ‡∏≤‡∏°‡∏õ‡∏µ‡πÑ‡∏î‡πâ‡∏≠‡∏¢‡πà‡∏≤‡∏á‡∏¢‡∏∏‡∏ï‡∏¥‡∏ò‡∏£‡∏£‡∏°** ‡πÄ‡∏û‡∏£‡∏≤‡∏∞‡∏ï‡∏±‡∏î‡∏ú‡∏•‡∏Ç‡∏≠‡∏á‡πÄ‡∏á‡∏¥‡∏ô‡πÄ‡∏ü‡πâ‡∏≠‡∏≠‡∏≠‡∏Å‡πÑ‡∏õ‡πÅ‡∏•‡πâ‡∏ß  

**English:**  
We convert nominal weekly sales to **inflation-adjusted (real)** values using a base-year CPI.  
- Determine `base_year` from the earliest year and compute `base_cpi` as the average CPI for that year.  
- Formula:  
  \[
  \text{Weekly\_Sales\_Real} = \text{Weekly\_Sales} \times \left(\frac{\text{base\_cpi}}{\text{CPI}}\right)
  \]  
- This enables **fair cross-year comparisons** by removing inflation effects.

In [3]:

# ‡πÉ‡∏ä‡πâ‡∏õ‡∏µ‡πÅ‡∏£‡∏Å‡πÉ‡∏ô‡∏ä‡∏∏‡∏î‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡πÄ‡∏õ‡πá‡∏ô‡∏õ‡∏µ‡∏ê‡∏≤‡∏ô
base_year = df['Year'].min()
base_cpi  = df.loc[df['Year'] == base_year, 'CPI'].mean()

df['Weekly_Sales_Real'] = df['Weekly_Sales'] * (base_cpi / df['CPI'])
df.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Year,Month,Week,Quarter,DayOfWeek,Month_sin,Month_cos,Peak_Season_Flag,Weekly_Sales_Real
0,1,2010-02-05,1643690.9000,0,42.3100,2.5720,211.0964,8.1060,2010,2,5,1,4,0.8660,0.5000,0,1308915.8473
1,1,2010-02-12,1641957.4400,1,38.5100,2.5480,211.2422,8.1060,2010,2,6,1,4,0.8660,0.5000,0,1306632.9090
2,1,2010-02-19,1611968.1700,0,39.9300,2.5140,211.2891,8.1060,2010,2,7,1,4,0.8660,0.5000,0,1282482.9397
3,1,2010-02-26,1409727.5900,0,46.6300,2.5610,211.3196,8.1060,2010,2,8,1,4,0.8660,0.5000,0,1121418.3219
4,1,2010-03-05,1554806.6800,0,46.5000,2.6250,211.3501,8.1060,2010,3,9,1,4,1.0000,0.0000,0,1236648.1954

### 4) Lag & Rolling (Sales) ‚Äî ‡∏ü‡∏µ‡πÄ‡∏à‡∏≠‡∏£‡πå‡∏à‡∏≤‡∏Å‡∏≠‡∏î‡∏µ‡∏ï‡πÅ‡∏•‡∏∞‡∏Ñ‡πà‡∏≤‡πÄ‡∏â‡∏•‡∏µ‡πà‡∏¢‡πÄ‡∏Ñ‡∏•‡∏∑‡πà‡∏≠‡∏ô‡∏ó‡∏µ‡πà (‡∏¢‡∏≠‡∏î‡∏Ç‡∏≤‡∏¢)

**‡∏†‡∏≤‡∏©‡∏≤‡πÑ‡∏ó‡∏¢:**  
‡πÄ‡∏£‡∏≤‡∏™‡∏£‡πâ‡∏≤‡∏á‡∏ü‡∏µ‡πÄ‡∏à‡∏≠‡∏£‡πå‡∏à‡∏≤‡∏Å‡∏¢‡∏≠‡∏î‡∏Ç‡∏≤‡∏¢‡∏à‡∏£‡∏¥‡∏á (`Weekly_Sales_Real`) ‡∏ï‡πà‡∏≠ **‡∏™‡∏≤‡∏Ç‡∏≤ (Store)** ‡∏î‡πâ‡∏ß‡∏¢‡∏Ç‡∏±‡πâ‡∏ô‡∏ï‡∏≠‡∏ô:  
1. **‡πÄ‡∏£‡∏µ‡∏¢‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•** ‡∏ï‡∏≤‡∏° `Store`, `Date` ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡∏Ñ‡∏á‡∏•‡∏≥‡∏î‡∏±‡∏ö‡πÄ‡∏ß‡∏•‡∏≤  
2. **Lag features**: ‡πÉ‡∏ä‡πâ‡∏Ñ‡πà‡∏≤‡∏à‡∏≤‡∏Å‡∏≠‡∏î‡∏µ‡∏ï‡πÄ‡∏û‡∏∑‡πà‡∏≠‡∏ä‡πà‡∏ß‡∏¢‡∏ó‡∏≥‡∏ô‡∏≤‡∏¢‡∏≠‡∏ô‡∏≤‡∏Ñ‡∏ï ‡πÄ‡∏ä‡πà‡∏ô `lag1`, `lag2`, `lag4`, `lag8`, `lag52` (‡∏´‡∏ô‡πà‡∏ß‡∏¢ = ‡∏™‡∏±‡∏õ‡∏î‡∏≤‡∏´‡πå)  
3. **Rolling features**: ‡∏Ñ‡πà‡∏≤‡πÄ‡∏â‡∏•‡∏µ‡πà‡∏¢/‡∏™‡πà‡∏ß‡∏ô‡πÄ‡∏ö‡∏µ‡πà‡∏¢‡∏á‡πÄ‡∏ö‡∏ô‡∏°‡∏≤‡∏ï‡∏£‡∏ê‡∏≤‡∏ô‡∏à‡∏≤‡∏Å‡∏´‡∏ô‡πâ‡∏≤‡∏ï‡πà‡∏≤‡∏á‡πÄ‡∏•‡∏∑‡πà‡∏≠‡∏ô ‡πÄ‡∏ä‡πà‡∏ô `rollmean4`, `rollmean8`, `rollstd8`, `rollstd12`, `rollstd52`  
4. **‡∏™‡∏≥‡∏Ñ‡∏±‡∏ç‡∏°‡∏≤‡∏Å:** ‡∏ó‡∏≥ `shift(1)` **‡∏Å‡πà‡∏≠‡∏ô** rolling ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡∏´‡∏•‡∏µ‡∏Å‡πÄ‡∏•‡∏µ‡πà‡∏¢‡∏á‡∏Å‡∏≤‡∏£‡πÉ‡∏ä‡πâ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏≠‡∏ô‡∏≤‡∏Ñ‡∏ï (data leakage)  
5. ‡∏î‡∏≥‡πÄ‡∏ô‡∏¥‡∏ô‡∏Å‡∏≤‡∏£ **‡πÅ‡∏¢‡∏Å‡∏ï‡∏≤‡∏°‡∏™‡∏≤‡∏Ç‡∏≤** (`group='Store'`) ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡πÑ‡∏°‡πà‡πÉ‡∏´‡πâ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏Ç‡∏≠‡∏á‡∏Ñ‡∏ô‡∏•‡∏∞‡∏™‡∏≤‡∏Ç‡∏≤‡∏õ‡∏ô‡∏Å‡∏±‡∏ô  

> üìù **‡∏Ñ‡∏≤‡∏î‡∏´‡∏ß‡∏±‡∏á NaN:** ‡πÅ‡∏ñ‡∏ß‡∏ï‡πâ‡∏ô ‡πÜ ‡∏Ç‡∏≠‡∏á‡πÅ‡∏ï‡πà‡∏•‡∏∞‡∏™‡∏≤‡∏Ç‡∏≤‡∏à‡∏∞‡∏°‡∏µ‡∏Ñ‡πà‡∏≤ `NaN` ‡πÉ‡∏ô‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå lag/rolling ‡∏ï‡∏≤‡∏°‡∏Ç‡∏ô‡∏≤‡∏î‡∏´‡∏ô‡πâ‡∏≤‡∏ï‡πà‡∏≤‡∏á‚Äî‡∏ñ‡∏∑‡∏≠‡∏ß‡πà‡∏≤‡πÄ‡∏õ‡πá‡∏ô‡πÄ‡∏£‡∏∑‡πà‡∏≠‡∏á‡∏õ‡∏Å‡∏ï‡∏¥ ‡πÄ‡∏û‡∏£‡∏≤‡∏∞‡∏¢‡∏±‡∏á‡πÑ‡∏°‡πà‡∏°‡∏µ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏¢‡πâ‡∏≠‡∏ô‡∏´‡∏•‡∏±‡∏á‡∏û‡∏≠  

**English:**  
We engineer features from `Weekly_Sales_Real` **within each store**:  
1. **Sort** by `Store`, `Date` to preserve chronology  
2. **Lag features**: past values as predictors (e.g., `lag1`, `lag2`, `lag4`, `lag8`, `lag52`)  
3. **Rolling features**: moving mean/std over sliding windows (e.g., `rollmean4`, `rollmean8`, `rollstd8`, `rollstd12`, `rollstd52`)  
4. **Critical:** apply `shift(1)` **before** rolling to avoid future leakage  
5. Operations are **per store** (`group='Store'`) to keep series independent  

**‡∏ï‡∏±‡∏ß‡∏≠‡∏¢‡πà‡∏≤‡∏á‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏ó‡∏µ‡πà‡πÑ‡∏î‡πâ / Example columns:**  
- `Weekly_Sales_Real_lag8`, `Weekly_Sales_Real_lag52`  
- `Weekly_Sales_Real_rollmean8`, `Weekly_Sales_Real_rollstd8`  

**‡∏Å‡∏≤‡∏£‡∏ï‡∏µ‡∏Ñ‡∏ß‡∏≤‡∏° / Interpretation:**  
- `*_lag8` = ‡∏¢‡∏≠‡∏î‡∏Ç‡∏≤‡∏¢‡∏à‡∏£‡∏¥‡∏á‡πÄ‡∏°‡∏∑‡πà‡∏≠ 8 ‡∏™‡∏±‡∏õ‡∏î‡∏≤‡∏´‡πå‡∏Å‡πà‡∏≠‡∏ô (‡∏Ç‡∏≠‡∏á‡∏™‡∏≤‡∏Ç‡∏≤‡πÄ‡∏î‡∏µ‡∏¢‡∏ß‡∏Å‡∏±‡∏ô)  
- `*_rollmean8` = ‡∏Ñ‡πà‡∏≤‡πÄ‡∏â‡∏•‡∏µ‡πà‡∏¢‡∏¢‡∏≠‡∏î‡∏Ç‡∏≤‡∏¢‡∏à‡∏£‡∏¥‡∏á‡∏ä‡πà‡∏ß‡∏á 8 ‡∏™‡∏±‡∏õ‡∏î‡∏≤‡∏´‡πå‡∏•‡πà‡∏≤‡∏™‡∏∏‡∏î (‡∏Å‡πà‡∏≠‡∏ô‡∏´‡∏ô‡πâ‡∏≤‡∏à‡∏∏‡∏î‡πÄ‡∏ß‡∏•‡∏≤)  
- `*_rollstd8` = ‡∏Ñ‡∏ß‡∏≤‡∏°‡∏ú‡∏±‡∏ô‡∏ú‡∏ß‡∏ô‡∏Ç‡∏≠‡∏á‡∏¢‡∏≠‡∏î‡∏Ç‡∏≤‡∏¢‡∏à‡∏£‡∏¥‡∏á‡∏ä‡πà‡∏ß‡∏á 8 ‡∏™‡∏±‡∏õ‡∏î‡∏≤‡∏´‡πå‡∏•‡πà‡∏≤‡∏™‡∏∏‡∏î

In [4]:
def add_lag_roll(d, col='Weekly_Sales_Real', group='Store'):
    d = d.sort_values(['Store','Date']).copy()
    # lags: 1‚Äì2 ‡∏™‡∏±‡∏õ‡∏î‡∏≤‡∏´‡πå, 4‚Äì8 ‡∏™‡∏±‡∏õ‡∏î‡∏≤‡∏´‡πå, 52 ‡∏™‡∏±‡∏õ‡∏î‡∏≤‡∏´‡πå (1 ‡∏õ‡∏µ)
    for l in [1, 2, 4, 8, 52]:
        d[f'{col}_lag{l}'] = d.groupby(group)[col].shift(l)
    # rolling: ‡∏Ñ‡πà‡∏≤‡πÄ‡∏â‡∏•‡∏µ‡πà‡∏¢/‡∏™‡πà‡∏ß‡∏ô‡πÄ‡∏ö‡∏µ‡πà‡∏¢‡∏á‡πÄ‡∏ö‡∏ô‡∏°‡∏≤‡∏ï‡∏£‡∏ê‡∏≤‡∏ô
    for w in [4, 8, 12, 52]:
        d[f'{col}_rollmean{w}'] = d.groupby(group)[col].shift(1).rolling(w).mean()
        d[f'{col}_rollstd{w}']  = d.groupby(group)[col].shift(1).rolling(w).std()
    return d

df = add_lag_roll(df, col='Weekly_Sales_Real', group='Store')
df.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Year,Month,...,Weekly_Sales_Real_lag8,Weekly_Sales_Real_lag52,Weekly_Sales_Real_rollmean4,Weekly_Sales_Real_rollstd4,Weekly_Sales_Real_rollmean8,Weekly_Sales_Real_rollstd8,Weekly_Sales_Real_rollmean12,Weekly_Sales_Real_rollstd12,Weekly_Sales_Real_rollmean52,Weekly_Sales_Real_rollstd52
0,1,2010-02-05,1643690.9000,0,42.3100,2.5720,211.0964,8.1060,2010,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2010-02-12,1641957.4400,1,38.5100,2.5480,211.2422,8.1060,2010,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,2010-02-19,1611968.1700,0,39.9300,2.5140,211.2891,8.1060,2010,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,2010-02-26,1409727.5900,0,46.6300,2.5610,211.3196,8.1060,2010,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,2010-03-05,1554806.6800,0,46.5000,2.6250,211.3501,8.1060,2010,3,...,NaN,NaN,1254862.5045,89762.9786,NaN,NaN,NaN,NaN,NaN,NaN

### 5) External Drivers (Lag & Rolling) ‚Äî ‡∏ï‡∏±‡∏ß‡πÅ‡∏õ‡∏£‡∏†‡∏≤‡∏¢‡∏ô‡∏≠‡∏Å (Lag ‡πÅ‡∏•‡∏∞‡∏Ñ‡πà‡∏≤‡πÄ‡∏â‡∏•‡∏µ‡πà‡∏¢‡πÄ‡∏Ñ‡∏•‡∏∑‡πà‡∏≠‡∏ô‡∏ó‡∏µ‡πà)

**‡∏†‡∏≤‡∏©‡∏≤‡πÑ‡∏ó‡∏¢:**  
‡πÄ‡∏£‡∏≤‡∏™‡∏£‡πâ‡∏≤‡∏á lag ‡πÅ‡∏•‡∏∞ rolling features ‡∏™‡∏≥‡∏´‡∏£‡∏±‡∏ö‡∏ï‡∏±‡∏ß‡πÅ‡∏õ‡∏£‡∏†‡∏≤‡∏¢‡∏ô‡∏≠‡∏Å ‡πÄ‡∏ä‡πà‡∏ô `Temperature`, `Fuel_Price`, `Unemployment`, ‡πÅ‡∏•‡∏∞ `CPI`  
- `*_lag1` = ‡∏Ñ‡πà‡∏≤‡∏Ç‡∏≠‡∏á‡∏ï‡∏±‡∏ß‡πÅ‡∏õ‡∏£‡∏à‡∏≤‡∏Å‡∏™‡∏±‡∏õ‡∏î‡∏≤‡∏´‡πå‡∏Å‡πà‡∏≠‡∏ô‡∏´‡∏ô‡πâ‡∏≤  
- `*_roll8` = ‡∏Ñ‡πà‡∏≤‡πÄ‡∏â‡∏•‡∏µ‡πà‡∏¢‡πÄ‡∏Ñ‡∏•‡∏∑‡πà‡∏≠‡∏ô‡∏ó‡∏µ‡πà 8 ‡∏™‡∏±‡∏õ‡∏î‡∏≤‡∏´‡πå (‡∏¢‡πâ‡∏≠‡∏ô‡∏´‡∏•‡∏±‡∏á ‡πÑ‡∏°‡πà‡∏£‡∏ß‡∏°‡∏õ‡∏±‡∏à‡∏à‡∏∏‡∏ö‡∏±‡∏ô)  

‡∏™‡∏¥‡πà‡∏á‡∏ô‡∏µ‡πâ‡∏ä‡πà‡∏ß‡∏¢‡πÉ‡∏´‡πâ‡πÇ‡∏°‡πÄ‡∏î‡∏•‡πÄ‡∏Ç‡πâ‡∏≤‡πÉ‡∏à‡∏ú‡∏•‡∏Å‡∏£‡∏∞‡∏ó‡∏ö‡∏Ç‡∏≠‡∏á **‡∏™‡∏†‡∏≤‡∏û‡πÅ‡∏ß‡∏î‡∏•‡πâ‡∏≠‡∏°‡∏ó‡∏≤‡∏á‡πÄ‡∏®‡∏£‡∏©‡∏ê‡∏Å‡∏¥‡∏à‡πÅ‡∏•‡∏∞‡∏§‡∏î‡∏π‡∏Å‡∏≤‡∏•** ‡∏ï‡πà‡∏≠‡∏¢‡∏≠‡∏î‡∏Ç‡∏≤‡∏¢

**English:**  
We engineered lag and rolling features for external drivers: `Temperature`, `Fuel_Price`, `Unemployment`, and `CPI`.  
- `*_lag1` = value from one week ago  
- `*_roll8` = 8-week moving average (past only, excluding current)  

This helps the model capture **economic and seasonal impacts** on sales.

In [5]:
for col in ['Temperature', 'Fuel_Price', 'Unemployment', 'CPI']:
    df[f'{col}_lag1']  = df.groupby('Store')[col].shift(1)
    df[f'{col}_roll8'] = df.groupby('Store')[col].shift(1).rolling(8).mean()
df.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Year,Month,...,Weekly_Sales_Real_rollmean52,Weekly_Sales_Real_rollstd52,Temperature_lag1,Temperature_roll8,Fuel_Price_lag1,Fuel_Price_roll8,Unemployment_lag1,Unemployment_roll8,CPI_lag1,CPI_roll8
0,1,2010-02-05,1643690.9000,0,42.3100,2.5720,211.0964,8.1060,2010,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2010-02-12,1641957.4400,1,38.5100,2.5480,211.2422,8.1060,2010,2,...,NaN,NaN,42.3100,NaN,2.5720,NaN,8.1060,NaN,211.0964,NaN
2,1,2010-02-19,1611968.1700,0,39.9300,2.5140,211.2891,8.1060,2010,2,...,NaN,NaN,38.5100,NaN,2.5480,NaN,8.1060,NaN,211.2422,NaN
3,1,2010-02-26,1409727.5900,0,46.6300,2.5610,211.3196,8.1060,2010,2,...,NaN,NaN,39.9300,NaN,2.5140,NaN,8.1060,NaN,211.2891,NaN
4,1,2010-03-05,1554806.6800,0,46.5000,2.6250,211.3501,8.1060,2010,3,...,NaN,NaN,46.6300,NaN,2.5610,NaN,8.1060,NaN,211.3196,NaN

### 6) Expanding Features & Momentum ‚Äî ‡∏ü‡∏µ‡πÄ‡∏à‡∏≠‡∏£‡πå‡∏™‡∏∞‡∏™‡∏°‡πÅ‡∏•‡∏∞‡πÇ‡∏°‡πÄ‡∏°‡∏ô‡∏ï‡∏±‡∏°

**‡∏†‡∏≤‡∏©‡∏≤‡πÑ‡∏ó‡∏¢:**  
1. `Store_avg_to_date`: ‡∏Ñ‡πà‡∏≤‡πÄ‡∏â‡∏•‡∏µ‡πà‡∏¢‡∏™‡∏∞‡∏™‡∏°‡∏Ç‡∏≠‡∏á‡∏¢‡∏≠‡∏î‡∏Ç‡∏≤‡∏¢‡∏à‡∏£‡∏¥‡∏á (`Weekly_Sales_Real`) ‡∏ï‡∏±‡πâ‡∏á‡πÅ‡∏ï‡πà‡∏ï‡πâ‡∏ô‡∏à‡∏ô‡∏ñ‡∏∂‡∏á‡∏õ‡∏±‡∏à‡∏à‡∏∏‡∏ö‡∏±‡∏ô (per store)  
   ‚Üí ‡∏ó‡∏≥‡πÉ‡∏´‡πâ‡πÄ‡∏´‡πá‡∏ô‡πÅ‡∏ô‡∏ß‡πÇ‡∏ô‡πâ‡∏°‡∏¢‡∏≠‡∏î‡∏Ç‡∏≤‡∏¢‡πÄ‡∏â‡∏•‡∏µ‡πà‡∏¢‡∏™‡∏∞‡∏™‡∏°‡∏Ç‡∏≠‡∏á‡πÅ‡∏ï‡πà‡∏•‡∏∞‡∏™‡∏≤‡∏Ç‡∏≤  
2. `Momentum_8w`: ‡πÇ‡∏°‡πÄ‡∏°‡∏ô‡∏ï‡∏±‡∏°‡∏´‡∏£‡∏∑‡∏≠‡∏Ñ‡πà‡∏≤‡πÄ‡∏â‡∏•‡∏µ‡πà‡∏¢‡πÄ‡∏Ñ‡∏•‡∏∑‡πà‡∏≠‡∏ô‡∏ó‡∏µ‡πà 8 ‡∏™‡∏±‡∏õ‡∏î‡∏≤‡∏´‡πå‡∏•‡πà‡∏≤‡∏™‡∏∏‡∏î‡∏Ç‡∏≠‡∏á‡∏¢‡∏≠‡∏î‡∏Ç‡∏≤‡∏¢‡∏à‡∏£‡∏¥‡∏á  
   ‚Üí ‡πÉ‡∏ä‡πâ‡∏™‡∏∞‡∏ó‡πâ‡∏≠‡∏ô‡πÅ‡∏£‡∏á‡∏™‡πà‡∏á (trend momentum) ‡∏Ç‡∏≠‡∏á‡∏¢‡∏≠‡∏î‡∏Ç‡∏≤‡∏¢  

**English:**  
1. `Store_avg_to_date`: cumulative average of `Weekly_Sales_Real` from the beginning up to the current point (per store).  
   ‚Üí Captures long-term trend of average store sales.  
2. `Momentum_8w`: 8-week moving average of `Weekly_Sales_Real`.  
   ‚Üí Represents sales momentum over recent weeks.

In [6]:
# ‡∏Ñ‡πà‡∏≤‡πÄ‡∏â‡∏•‡∏µ‡πà‡∏¢‡∏™‡∏∞‡∏™‡∏°‡∏à‡∏ô‡∏ñ‡∏∂‡∏á‡∏™‡∏±‡∏õ‡∏î‡∏≤‡∏´‡πå‡∏Å‡πà‡∏≠‡∏ô‡∏´‡∏ô‡πâ‡∏≤
df['Store_avg_to_date'] = (
    df.groupby('Store')['Weekly_Sales_Real']
      .apply(lambda s: s.shift(1).expanding().mean())
      .reset_index(level=0, drop=True)
)

# ‡πÇ‡∏°‡πÄ‡∏°‡∏ô‡∏ï‡∏±‡∏° 8 ‡∏™‡∏±‡∏õ‡∏î‡∏≤‡∏´‡πå (‚â•1 = ‡πÄ‡∏´‡∏ô‡∏∑‡∏≠‡∏Ñ‡πà‡∏≤‡πÄ‡∏â‡∏•‡∏µ‡πà‡∏¢‡∏£‡∏∞‡∏¢‡∏∞‡∏™‡∏±‡πâ‡∏ô)
df['Momentum_8w'] = df['Weekly_Sales_Real'] / df['Weekly_Sales_Real'].rolling(8).mean()
df.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Year,Month,...,Temperature_lag1,Temperature_roll8,Fuel_Price_lag1,Fuel_Price_roll8,Unemployment_lag1,Unemployment_roll8,CPI_lag1,CPI_roll8,Store_avg_to_date,Momentum_8w
0,1,2010-02-05,1643690.9000,0,42.3100,2.5720,211.0964,8.1060,2010,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2010-02-12,1641957.4400,1,38.5100,2.5480,211.2422,8.1060,2010,2,...,42.3100,NaN,2.5720,NaN,8.1060,NaN,211.0964,NaN,1308915.8473,NaN
2,1,2010-02-19,1611968.1700,0,39.9300,2.5140,211.2891,8.1060,2010,2,...,38.5100,NaN,2.5480,NaN,8.1060,NaN,211.2422,NaN,1307774.3781,NaN
3,1,2010-02-26,1409727.5900,0,46.6300,2.5610,211.3196,8.1060,2010,2,...,39.9300,NaN,2.5140,NaN,8.1060,NaN,211.2891,NaN,1299343.8987,NaN
4,1,2010-03-05,1554806.6800,0,46.5000,2.6250,211.3501,8.1060,2010,3,...,46.6300,NaN,2.5610,NaN,8.1060,NaN,211.3196,NaN,1254862.5045,NaN

### 7) Outlier Capping (IQR) ‚Äî ‡∏à‡∏≥‡∏Å‡∏±‡∏î‡∏Ñ‡πà‡∏≤‡∏ú‡∏¥‡∏î‡∏õ‡∏Å‡∏ï‡∏¥‡∏î‡πâ‡∏ß‡∏¢ IQR

**‡∏†‡∏≤‡∏©‡∏≤‡πÑ‡∏ó‡∏¢:**  
‡πÄ‡∏û‡∏∑‡πà‡∏≠‡∏õ‡πâ‡∏≠‡∏á‡∏Å‡∏±‡∏ô‡πÑ‡∏°‡πà‡πÉ‡∏´‡πâ‡∏¢‡∏≠‡∏î‡∏Ç‡∏≤‡∏¢‡∏ó‡∏µ‡πà‡∏™‡∏π‡∏á/‡∏ï‡πà‡∏≥‡∏ú‡∏¥‡∏î‡∏õ‡∏Å‡∏ï‡∏¥ (outliers) ‡∏°‡∏µ‡∏ú‡∏•‡πÄ‡∏Å‡∏¥‡∏ô‡πÑ‡∏õ ‡πÄ‡∏£‡∏≤‡πÉ‡∏ä‡πâ **Interquartile Range (IQR)**:  
- ‡∏Ñ‡∏≥‡∏ô‡∏ß‡∏ì Q1 (25th percentile), Q3 (75th percentile), ‡πÅ‡∏•‡∏∞ IQR = Q3 - Q1  
- ‡∏à‡∏≥‡∏Å‡∏±‡∏î‡∏Ñ‡πà‡∏≤‡∏ó‡∏µ‡πà‡∏≠‡∏¢‡∏π‡πà‡∏ô‡∏≠‡∏Å‡∏ä‡πà‡∏ß‡∏á `[Q1 - 1.5*IQR, Q3 + 1.5*IQR]` ‡πÉ‡∏´‡πâ‡∏≠‡∏¢‡∏π‡πà‡πÉ‡∏ô‡∏Ç‡∏≠‡∏ö‡πÄ‡∏Ç‡∏ï‡∏ô‡∏µ‡πâ  
- ‡∏Ñ‡πà‡∏≤‡∏ó‡∏µ‡πà‡πÑ‡∏î‡πâ‡πÄ‡∏Å‡πá‡∏ö‡πÉ‡∏ô‡∏ü‡∏µ‡πÄ‡∏à‡∏≠‡∏£‡πå `Weekly_Sales_Real_capped`  

**English:**  
To reduce the influence of extreme outliers, we applied **IQR-based capping**:  
- Compute Q1, Q3, and IQR = Q3 - Q1  
- Cap values outside `[Q1 - 1.5*IQR, Q3 + 1.5*IQR]` within these bounds  
- Resulting feature stored in `Weekly_Sales_Real_capped`

In [7]:
def iqr_cap(s, k=1.5):
    q1, q3 = s.quantile([0.25, 0.75])
    iqr = q3 - q1
    lo, hi = q1 - k*iqr, q3 + k*iqr
    return s.clip(lo, hi)

df['Weekly_Sales_Real_capped'] = df.groupby('Store')['Weekly_Sales_Real'].transform(iqr_cap)
df.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Year,Month,...,Temperature_roll8,Fuel_Price_lag1,Fuel_Price_roll8,Unemployment_lag1,Unemployment_roll8,CPI_lag1,CPI_roll8,Store_avg_to_date,Momentum_8w,Weekly_Sales_Real_capped
0,1,2010-02-05,1643690.9000,0,42.3100,2.5720,211.0964,8.1060,2010,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1308915.8473
1,1,2010-02-12,1641957.4400,1,38.5100,2.5480,211.2422,8.1060,2010,2,...,NaN,2.5720,NaN,8.1060,NaN,211.0964,NaN,1308915.8473,NaN,1306632.9090
2,1,2010-02-19,1611968.1700,0,39.9300,2.5140,211.2891,8.1060,2010,2,...,NaN,2.5480,NaN,8.1060,NaN,211.2422,NaN,1307774.3781,NaN,1282482.9397
3,1,2010-02-26,1409727.5900,0,46.6300,2.5610,211.3196,8.1060,2010,2,...,NaN,2.5140,NaN,8.1060,NaN,211.2891,NaN,1299343.8987,NaN,1121418.3219
4,1,2010-03-05,1554806.6800,0,46.5000,2.6250,211.3501,8.1060,2010,3,...,NaN,2.5610,NaN,8.1060,NaN,211.3196,NaN,1254862.5045,NaN,1236648.1954

### 8) Target Variable ‚Äî ‡∏™‡∏£‡πâ‡∏≤‡∏á‡∏ï‡∏±‡∏ß‡πÅ‡∏õ‡∏£‡πÄ‡∏õ‡πâ‡∏≤‡∏´‡∏°‡∏≤‡∏¢

**‡∏†‡∏≤‡∏©‡∏≤‡πÑ‡∏ó‡∏¢:**  
‡∏™‡∏£‡πâ‡∏≤‡∏á‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå `Target_next_week` ‡πÇ‡∏î‡∏¢‡πÄ‡∏•‡∏∑‡πà‡∏≠‡∏ô‡∏Ñ‡πà‡∏≤ (`shift(-1)`) ‡∏Ç‡∏≠‡∏á `Weekly_Sales_Real_capped` ‡∏¢‡πâ‡∏≠‡∏ô‡∏Ç‡∏∂‡πâ‡∏ô‡πÑ‡∏õ 1 ‡∏™‡∏±‡∏õ‡∏î‡∏≤‡∏´‡πå  
‚Üí ‡∏´‡∏°‡∏≤‡∏¢‡∏ñ‡∏∂‡∏á **‡∏¢‡∏≠‡∏î‡∏Ç‡∏≤‡∏¢‡∏à‡∏£‡∏¥‡∏á‡∏Ç‡∏≠‡∏á‡∏™‡∏±‡∏õ‡∏î‡∏≤‡∏´‡πå‡∏ñ‡∏±‡∏î‡πÑ‡∏õ** ‡∏ó‡∏µ‡πà‡πÄ‡∏£‡∏≤‡∏ï‡πâ‡∏≠‡∏á‡∏Å‡∏≤‡∏£‡πÉ‡∏´‡πâ‡πÇ‡∏°‡πÄ‡∏î‡∏•‡∏û‡∏¢‡∏≤‡∏Å‡∏£‡∏ì‡πå  

‡∏à‡∏≤‡∏Å‡∏ô‡∏±‡πâ‡∏ô‡∏•‡∏ö‡πÅ‡∏ñ‡∏ß‡∏ó‡∏µ‡πà‡∏°‡∏µ‡∏Ñ‡πà‡∏≤ NaN ‡∏´‡∏•‡∏±‡∏á‡∏Å‡∏≤‡∏£ shift ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡πÉ‡∏´‡πâ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏™‡∏∞‡∏≠‡∏≤‡∏î

**English:**  
We created the column `Target_next_week` by shifting `Weekly_Sales_Real_capped` by -1.  
‚Üí This represents the **actual sales of the following week**, which becomes our prediction target.  

Finally, we removed NaN rows created by the shift to clean the dataset.

In [8]:
df['Target_next_week'] = df.groupby('Store')['Weekly_Sales_Real_capped'].shift(-1)

# ‡∏ï‡∏±‡∏î‡πÅ‡∏ñ‡∏ß‡∏ó‡∏µ‡πà‡∏°‡∏µ NaN ‡∏à‡∏≤‡∏Å‡∏Å‡∏≤‡∏£‡∏ó‡∏≥ lag/shift
before = len(df)
df_model = df.dropna().reset_index(drop=True)
print(f"Rows: {before:,} ‚Üí {len(df_model):,} after dropna")
df.head()

Rows: 6,435 ‚Üí 4,050 after dropna

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Year,Month,...,Fuel_Price_lag1,Fuel_Price_roll8,Unemployment_lag1,Unemployment_roll8,CPI_lag1,CPI_roll8,Store_avg_to_date,Momentum_8w,Weekly_Sales_Real_capped,Target_next_week
0,1,2010-02-05,1643690.9000,0,42.3100,2.5720,211.0964,8.1060,2010,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1308915.8473,1306632.9090
1,1,2010-02-12,1641957.4400,1,38.5100,2.5480,211.2422,8.1060,2010,2,...,2.5720,NaN,8.1060,NaN,211.0964,NaN,1308915.8473,NaN,1306632.9090,1282482.9397
2,1,2010-02-19,1611968.1700,0,39.9300,2.5140,211.2891,8.1060,2010,2,...,2.5480,NaN,8.1060,NaN,211.2422,NaN,1307774.3781,NaN,1282482.9397,1121418.3219
3,1,2010-02-26,1409727.5900,0,46.6300,2.5610,211.3196,8.1060,2010,2,...,2.5140,NaN,8.1060,NaN,211.2891,NaN,1299343.8987,NaN,1121418.3219,1236648.1954
4,1,2010-03-05,1554806.6800,0,46.5000,2.6250,211.3501,8.1060,2010,3,...,2.5610,NaN,8.1060,NaN,211.3196,NaN,1254862.5045,NaN,1236648.1954,1144804.4746

### 9) Feature Set & Meta Info ‚Äî ‡∏ü‡∏µ‡πÄ‡∏à‡∏≠‡∏£‡πå‡πÅ‡∏•‡∏∞‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏õ‡∏£‡∏∞‡∏Å‡∏≠‡∏ö

**‡∏†‡∏≤‡∏©‡∏≤‡πÑ‡∏ó‡∏¢:**  
‡πÄ‡∏£‡∏≤‡∏£‡∏ß‡∏°‡∏ä‡∏∏‡∏î‡∏ü‡∏µ‡πÄ‡∏à‡∏≠‡∏£‡πå‡∏ó‡∏µ‡πà‡∏™‡∏£‡πâ‡∏≤‡∏á‡πÑ‡∏ß‡πâ‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î ‡πÄ‡∏ä‡πà‡∏ô  
- Calendar features: `Year`, `Month`, `Week`, `Quarter`, `DayOfWeek`, `Month_sin`, `Month_cos`  
- Flags: `Holiday_Flag`, `Peak_Season_Flag`  
- Lags/Rolling: `Weekly_Sales_Real_lag*`, `Weekly_Sales_Real_roll*`  
- External drivers: `Temperature_lag1`, `Fuel_Price_lag1`, `Unemployment_lag1`, `CPI_lag1`, etc.  
- Store-level: `Store_avg_to_date`, `Momentum_8w`  

‡πÅ‡∏•‡∏∞‡∏Å‡∏≥‡∏´‡∏ô‡∏î `Target_next_week` ‡πÄ‡∏õ‡πá‡∏ô y ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡πÉ‡∏ä‡πâ train model  
‡∏™‡πà‡∏ß‡∏ô `meta` ‡πÄ‡∏Å‡πá‡∏ö‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏õ‡∏£‡∏∞‡∏Å‡∏≠‡∏ö ‡πÄ‡∏ä‡πà‡∏ô `Store`, `Date`, `Weekly_Sales`, `Weekly_Sales_Real` ‡πÑ‡∏ß‡πâ‡∏≠‡πâ‡∏≤‡∏á‡∏≠‡∏¥‡∏á‡∏†‡∏≤‡∏¢‡∏´‡∏•‡∏±‡∏á

**English:**  
We consolidated all engineered features, including:  
- Calendar: `Year`, `Month`, `Week`, `Quarter`, `DayOfWeek`, `Month_sin`, `Month_cos`  
- Flags: `Holiday_Flag`, `Peak_Season_Flag`  
- Lags/Rolling: `Weekly_Sales_Real_lag*`, `Weekly_Sales_Real_roll*`  
- External drivers: `Temperature_lag1`, `Fuel_Price_lag1`, `Unemployment_lag1`, `CPI_lag1`, etc.  
- Store-level: `Store_avg_to_date`, `Momentum_8w`  

We then defined `Target_next_week` as `y` for training,  
while `meta` keeps supporting info (`Store`, `Date`, `Weekly_Sales`, `Weekly_Sales_Real`) for reference.

In [10]:
feature_cols = [
    # calendar
    'Year','Month','Week','Quarter','DayOfWeek','Month_sin','Month_cos',
    # flags
    'Holiday_Flag','Peak_Season_Flag',
    # lags/rolls ‡∏Ç‡∏≠‡∏á‡∏¢‡∏≠‡∏î‡∏Ç‡∏≤‡∏¢‡∏à‡∏£‡∏¥‡∏á
    'Weekly_Sales_Real_lag1','Weekly_Sales_Real_lag2','Weekly_Sales_Real_lag4',
    'Weekly_Sales_Real_rollmean4','Weekly_Sales_Real_rollmean8','Weekly_Sales_Real_rollstd8',
    # external drivers
    'Temperature_lag1','Fuel_Price_lag1','Unemployment_lag1','CPI_lag1',
    'Temperature_roll8','Fuel_Price_roll8','Unemployment_roll8',
    # store
    'Store_avg_to_date','Momentum_8w'
]

X = df_model[feature_cols].copy()
y = df_model['Target_next_week'].copy()

meta = df_model[['Store','Date','Weekly_Sales','Weekly_Sales_Real']]
X.shape, y.shape
df.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Year,Month,...,Fuel_Price_lag1,Fuel_Price_roll8,Unemployment_lag1,Unemployment_roll8,CPI_lag1,CPI_roll8,Store_avg_to_date,Momentum_8w,Weekly_Sales_Real_capped,Target_next_week
0,1,2010-02-05,1643690.9000,0,42.3100,2.5720,211.0964,8.1060,2010,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1308915.8473,1306632.9090
1,1,2010-02-12,1641957.4400,1,38.5100,2.5480,211.2422,8.1060,2010,2,...,2.5720,NaN,8.1060,NaN,211.0964,NaN,1308915.8473,NaN,1306632.9090,1282482.9397
2,1,2010-02-19,1611968.1700,0,39.9300,2.5140,211.2891,8.1060,2010,2,...,2.5480,NaN,8.1060,NaN,211.2422,NaN,1307774.3781,NaN,1282482.9397,1121418.3219
3,1,2010-02-26,1409727.5900,0,46.6300,2.5610,211.3196,8.1060,2010,2,...,2.5140,NaN,8.1060,NaN,211.2891,NaN,1299343.8987,NaN,1121418.3219,1236648.1954
4,1,2010-03-05,1554806.6800,0,46.5000,2.6250,211.3501,8.1060,2010,3,...,2.5610,NaN,8.1060,NaN,211.3196,NaN,1254862.5045,NaN,1236648.1954,1144804.4746

### 10) Export Processed Dataset ‚Äî ‡∏™‡πà‡∏á‡∏≠‡∏≠‡∏Å‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ó‡∏µ‡πà‡∏õ‡∏£‡∏∞‡∏°‡∏ß‡∏•‡∏ú‡∏•‡πÅ‡∏•‡πâ‡∏ß

**‡∏†‡∏≤‡∏©‡∏≤‡πÑ‡∏ó‡∏¢:**  
‡πÄ‡∏£‡∏≤‡πÑ‡∏î‡πâ‡∏£‡∏ß‡∏° `meta`, `X`, ‡πÅ‡∏•‡∏∞ `y` ‡πÄ‡∏Ç‡πâ‡∏≤‡∏î‡πâ‡∏ß‡∏¢‡∏Å‡∏±‡∏ô ‡πÅ‡∏•‡∏∞‡∏ö‡∏±‡∏ô‡∏ó‡∏∂‡∏Å‡πÄ‡∏õ‡πá‡∏ô‡πÑ‡∏ü‡∏•‡πå CSV (`walmart_features_weekly.csv`)  
‡πÇ‡∏î‡∏¢‡πÄ‡∏Å‡πá‡∏ö‡πÑ‡∏ß‡πâ‡πÉ‡∏ô‡πÇ‡∏ü‡∏•‡πÄ‡∏î‡∏≠‡∏£‡πå `data/processed` ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡πÉ‡∏´‡πâ‡πÉ‡∏ä‡πâ‡πÉ‡∏ô‡∏Ç‡∏±‡πâ‡∏ô‡∏ï‡∏≠‡∏ô‡∏Å‡∏≤‡∏£‡∏™‡∏£‡πâ‡∏≤‡∏á‡πÇ‡∏°‡πÄ‡∏î‡∏•‡∏ï‡πà‡∏≠‡πÑ‡∏õ‡πÑ‡∏î‡πâ‡∏™‡∏∞‡∏î‡∏ß‡∏Å

**English:**  
We concatenated `meta`, `X`, and `y` into a single DataFrame and exported it as a CSV file (`walmart_features_weekly.csv`).  
The file is saved under `data/processed` for easy reuse during the modeling stage.

In [11]:
from pathlib import Path
out_dir = Path(r"S:\BusinessAnalyticProject\data\processed")
out_dir.mkdir(parents=True, exist_ok=True)

df_out = pd.concat([meta, X, y.rename('Target')], axis=1)
df_out.to_csv(out_dir / "walmart_features_weekly.csv", index=False)

df_out.head()

,Store,Date,Weekly_Sales,Weekly_Sales_Real,Year,Month,Week,Quarter,DayOfWeek,Month_sin,...,Temperature_lag1,Fuel_Price_lag1,Unemployment_lag1,CPI_lag1,Temperature_roll8,Fuel_Price_roll8,Unemployment_roll8,Store_avg_to_date,Momentum_8w,Target
0,1,2011-02-04,1606629.5800,1270552.0874,2011,2,5,1,4,0.8660,...,43.8300,3.0100,7.7420,212.1971,46.0588,2.9407,7.7900,1204743.5771,1.0052,1302279.9853
1,1,2011-02-11,1649614.9300,1302279.9853,2011,2,6,1,4,0.8660,...,42.2700,2.9890,7.7420,212.5669,45.5512,2.9590,7.7780,1205985.2471,1.0513,1329726.0887
2,1,2011-02-18,1686842.7800,1329726.0887,2011,2,7,1,4,0.8660,...,36.3900,3.0220,7.7420,212.9367,43.8700,2.9781,7.7660,1207768.4830,1.1388,1146837.8671
3,1,2011-02-25,1456800.2800,1146837.8671,2011,2,8,1,4,0.8660,...,57.3600,3.0450,7.7420,213.2479,44.4988,2.9980,7.7540,1209985.8940,0.9760,1286383.4399
4,1,2011-03-04,1636263.4100,1286383.4399,2011,3,9,1,4,1.0000,...,62.9000,3.0650,7.7420,213.5356,46.3075,3.0132,7.7420,1208858.2507,1.0789,1219433.8976

## üìå Conclusion ‚Äî Feature Engineering Summary

**‡∏†‡∏≤‡∏©‡∏≤‡πÑ‡∏ó‡∏¢:**  
‡πÉ‡∏ô‡∏Ç‡∏±‡πâ‡∏ô‡∏ï‡∏≠‡∏ô Feature Engineering ‡πÄ‡∏£‡∏≤‡πÑ‡∏î‡πâ‡∏™‡∏£‡πâ‡∏≤‡∏á‡πÅ‡∏•‡∏∞‡∏õ‡∏£‡∏±‡∏ö‡∏õ‡∏£‡∏∏‡∏á‡∏ü‡∏µ‡πÄ‡∏à‡∏≠‡∏£‡πå‡∏´‡∏•‡∏≤‡∏¢‡∏õ‡∏£‡∏∞‡πÄ‡∏†‡∏ó‡πÄ‡∏û‡∏∑‡πà‡∏≠‡πÉ‡∏´‡πâ‡πÇ‡∏°‡πÄ‡∏î‡∏•‡∏™‡∏≤‡∏°‡∏≤‡∏£‡∏ñ‡πÄ‡∏£‡∏µ‡∏¢‡∏ô‡∏£‡∏π‡πâ‡πÑ‡∏î‡πâ‡∏î‡∏µ‡∏Ç‡∏∂‡πâ‡∏ô ‡πÑ‡∏î‡πâ‡πÅ‡∏Å‡πà:  
- **Calendar Features:** ‡πÄ‡∏ä‡πà‡∏ô Year, Month, Week, Quarter, DayOfWeek ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡πÄ‡∏Å‡πá‡∏ö‡∏ö‡∏£‡∏¥‡∏ö‡∏ó‡∏Ç‡∏≠‡∏á‡πÄ‡∏ß‡∏•‡∏≤  
- **Seasonality Encoding:** ‡πÉ‡∏ä‡πâ sine/cos ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡πÅ‡∏ó‡∏ô‡∏£‡∏π‡∏õ‡πÅ‡∏ö‡∏ö‡∏ß‡∏á‡∏à‡∏£‡∏Ç‡∏≠‡∏á‡πÄ‡∏î‡∏∑‡∏≠‡∏ô  
- **Lag & Rolling Features:** ‡πÄ‡∏û‡∏¥‡πà‡∏°‡∏Ñ‡πà‡∏≤‡∏•‡πà‡∏≤‡∏ä‡πâ‡∏≤ (lag) ‡πÅ‡∏•‡∏∞‡∏Ñ‡πà‡∏≤‡πÄ‡∏â‡∏•‡∏µ‡πà‡∏¢/‡∏™‡πà‡∏ß‡∏ô‡πÄ‡∏ö‡∏µ‡πà‡∏¢‡∏á‡πÄ‡∏ö‡∏ô‡∏°‡∏≤‡∏ï‡∏£‡∏ê‡∏≤‡∏ô (rolling mean/std) ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡∏™‡∏∞‡∏ó‡πâ‡∏≠‡∏ô‡πÅ‡∏ô‡∏ß‡πÇ‡∏ô‡πâ‡∏°‡πÅ‡∏•‡∏∞‡∏Ñ‡∏ß‡∏≤‡∏°‡∏ú‡∏±‡∏ô‡∏ú‡∏ß‡∏ô‡πÉ‡∏ô‡∏≠‡∏î‡∏µ‡∏ï  
- **External Drivers:** ‡πÄ‡∏ä‡πà‡∏ô Temperature, Fuel Price, CPI, ‡πÅ‡∏•‡∏∞ Unemployment ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡∏ß‡∏±‡∏î‡∏ú‡∏•‡∏Å‡∏£‡∏∞‡∏ó‡∏ö‡∏à‡∏≤‡∏Å‡∏õ‡∏±‡∏à‡∏à‡∏±‡∏¢‡∏†‡∏≤‡∏¢‡∏ô‡∏≠‡∏Å  
- **Target Variable:** ‡∏™‡∏£‡πâ‡∏≤‡∏á `Target_next_week` ‡∏™‡∏≥‡∏´‡∏£‡∏±‡∏ö‡∏Å‡∏≤‡∏£‡∏û‡∏¢‡∏≤‡∏Å‡∏£‡∏ì‡πå‡∏¢‡∏≠‡∏î‡∏Ç‡∏≤‡∏¢‡πÉ‡∏ô‡∏≠‡∏ô‡∏≤‡∏Ñ‡∏ï  
- **Export Dataset:** ‡∏£‡∏ß‡∏°‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î‡πÅ‡∏•‡∏∞‡∏ö‡∏±‡∏ô‡∏ó‡∏∂‡∏Å‡πÑ‡∏ß‡πâ‡πÄ‡∏õ‡πá‡∏ô‡πÑ‡∏ü‡∏•‡πå CSV (`walmart_features_weekly.csv`) ‡∏™‡∏≥‡∏´‡∏£‡∏±‡∏ö‡πÉ‡∏ä‡πâ‡πÉ‡∏ô‡πÇ‡∏°‡πÄ‡∏î‡∏• Machine Learning  

‡∏ú‡∏•‡∏•‡∏±‡∏û‡∏ò‡πå‡∏Ñ‡∏∑‡∏≠‡∏ä‡∏∏‡∏î‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ó‡∏µ‡πà‡∏™‡∏∞‡∏≠‡∏≤‡∏î‡πÅ‡∏•‡∏∞‡∏û‡∏£‡πâ‡∏≠‡∏°‡πÉ‡∏ä‡πâ‡∏á‡∏≤‡∏ô‡πÉ‡∏ô‡∏Å‡∏≤‡∏£‡πÄ‡∏ó‡∏£‡∏ô‡πÇ‡∏°‡πÄ‡∏î‡∏•‡∏û‡∏¢‡∏≤‡∏Å‡∏£‡∏ì‡πå‡∏¢‡∏≠‡∏î‡∏Ç‡∏≤‡∏¢‡∏ï‡πà‡∏≠‡πÑ‡∏õ üöÄ

---

**English:**  
In the Feature Engineering step, we created and refined multiple types of features to enhance the model‚Äôs learning ability:  
- **Calendar Features:** Year, Month, Week, Quarter, DayOfWeek to capture temporal context  
- **Seasonality Encoding:** sine/cos transformations to represent cyclical seasonal patterns  
- **Lag & Rolling Features:** lag values and rolling mean/std to reflect historical trends and volatility  
- **External Drivers:** Temperature, Fuel Price, CPI, and Unemployment as external influencing factors  
- **Target Variable:** generated `Target_next_week` for forecasting future sales  
- **Export Dataset:** combined all data and saved it as a CSV (`walmart_features_weekly.csv`) for downstream ML models  

The result is a clean and enriched dataset, ready for building predictive models for Walmart‚Äôs weekly sales üìä‚ú®