In [1]:
import pandas as pd
from pathlib import Path

# ระบุ path dataset
base_dir = Path(r"S:\BusinessAnalyticProject\data")
data_path = base_dir / "Walmart_Sales.csv"

# โหลด dataset
df = pd.read_csv(data_path)

# แปลงวันที่ (ให้ pandas เดา format โดยสมมติ dayfirst)
df['Date'] = pd.to_datetime(df['Date'], dayfirst=True, errors='coerce')

# ตรวจ NaT เผื่อมีวันที่ที่ parse ไม่ได้
print("Unparsed dates (NaT):", df['Date'].isna().sum())

# จัดเรียงตาม Store + Date
df = df.sort_values(['Store', 'Date']).reset_index(drop=True)

df.head()

Unparsed dates (NaT): 0

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,2010-02-05,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,2010-02-12,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,2010-02-19,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,2010-02-26,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,2010-03-05,1554806.68,0,46.50,2.625,211.350143,8.106

In [2]:
df['Year']      = df['Date'].dt.year
df['Month']     = df['Date'].dt.month
df['Week']      = df['Date'].dt.isocalendar().week.astype(int)
df['Quarter']   = df['Date'].dt.quarter
df['DayOfWeek'] = df['Date'].dt.dayofweek  # Monday=0

# seasonality แบบวงจร
import numpy as np
df['Month_sin'] = np.sin(2*np.pi*df['Month']/12)
df['Month_cos'] = np.cos(2*np.pi*df['Month']/12)
df['Peak_Season_Flag'] = df['Month'].isin([11, 12]).astype(int)

pd.options.display.float_format = '{:.4f}'.format  # แสดงทศนิยม 4 ตำแหน่ง
df.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Year,Month,Week,Quarter,DayOfWeek,Month_sin,Month_cos,Peak_Season_Flag
0,1,2010-02-05,1643690.9000,0,42.3100,2.5720,211.0964,8.1060,2010,2,5,1,4,0.8660,0.5000,0
1,1,2010-02-12,1641957.4400,1,38.5100,2.5480,211.2422,8.1060,2010,2,6,1,4,0.8660,0.5000,0
2,1,2010-02-19,1611968.1700,0,39.9300,2.5140,211.2891,8.1060,2010,2,7,1,4,0.8660,0.5000,0
3,1,2010-02-26,1409727.5900,0,46.6300,2.5610,211.3196,8.1060,2010,2,8,1,4,0.8660,0.5000,0
4,1,2010-03-05,1554806.6800,0,46.5000,2.6250,211.3501,8.1060,2010,3,9,1,4,1.0000,0.0000,0

In [3]:

# ใช้ปีแรกในชุดข้อมูลเป็นปีฐาน
base_year = df['Year'].min()
base_cpi  = df.loc[df['Year'] == base_year, 'CPI'].mean()

df['Weekly_Sales_Real'] = df['Weekly_Sales'] * (base_cpi / df['CPI'])
df.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Year,Month,Week,Quarter,DayOfWeek,Month_sin,Month_cos,Peak_Season_Flag,Weekly_Sales_Real
0,1,2010-02-05,1643690.9000,0,42.3100,2.5720,211.0964,8.1060,2010,2,5,1,4,0.8660,0.5000,0,1308915.8473
1,1,2010-02-12,1641957.4400,1,38.5100,2.5480,211.2422,8.1060,2010,2,6,1,4,0.8660,0.5000,0,1306632.9090
2,1,2010-02-19,1611968.1700,0,39.9300,2.5140,211.2891,8.1060,2010,2,7,1,4,0.8660,0.5000,0,1282482.9397
3,1,2010-02-26,1409727.5900,0,46.6300,2.5610,211.3196,8.1060,2010,2,8,1,4,0.8660,0.5000,0,1121418.3219
4,1,2010-03-05,1554806.6800,0,46.5000,2.6250,211.3501,8.1060,2010,3,9,1,4,1.0000,0.0000,0,1236648.1954

In [4]:
def add_lag_roll(d, col='Weekly_Sales_Real', group='Store'):
    d = d.sort_values(['Store','Date']).copy()
    # lags: 1–2 สัปดาห์, 4–8 สัปดาห์, 52 สัปดาห์ (1 ปี)
    for l in [1, 2, 4, 8, 52]:
        d[f'{col}_lag{l}'] = d.groupby(group)[col].shift(l)
    # rolling: ค่าเฉลี่ย/ส่วนเบี่ยงเบนมาตรฐาน
    for w in [4, 8, 12, 52]:
        d[f'{col}_rollmean{w}'] = d.groupby(group)[col].shift(1).rolling(w).mean()
        d[f'{col}_rollstd{w}']  = d.groupby(group)[col].shift(1).rolling(w).std()
    return d

df = add_lag_roll(df, col='Weekly_Sales_Real', group='Store')
df.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Year,Month,...,Weekly_Sales_Real_lag8,Weekly_Sales_Real_lag52,Weekly_Sales_Real_rollmean4,Weekly_Sales_Real_rollstd4,Weekly_Sales_Real_rollmean8,Weekly_Sales_Real_rollstd8,Weekly_Sales_Real_rollmean12,Weekly_Sales_Real_rollstd12,Weekly_Sales_Real_rollmean52,Weekly_Sales_Real_rollstd52
0,1,2010-02-05,1643690.9000,0,42.3100,2.5720,211.0964,8.1060,2010,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2010-02-12,1641957.4400,1,38.5100,2.5480,211.2422,8.1060,2010,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,2010-02-19,1611968.1700,0,39.9300,2.5140,211.2891,8.1060,2010,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,2010-02-26,1409727.5900,0,46.6300,2.5610,211.3196,8.1060,2010,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,2010-03-05,1554806.6800,0,46.5000,2.6250,211.3501,8.1060,2010,3,...,NaN,NaN,1254862.5045,89762.9786,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
for col in ['Temperature', 'Fuel_Price', 'Unemployment', 'CPI']:
    df[f'{col}_lag1']  = df.groupby('Store')[col].shift(1)
    df[f'{col}_roll8'] = df.groupby('Store')[col].shift(1).rolling(8).mean()
df.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Year,Month,...,Weekly_Sales_Real_rollmean52,Weekly_Sales_Real_rollstd52,Temperature_lag1,Temperature_roll8,Fuel_Price_lag1,Fuel_Price_roll8,Unemployment_lag1,Unemployment_roll8,CPI_lag1,CPI_roll8
0,1,2010-02-05,1643690.9000,0,42.3100,2.5720,211.0964,8.1060,2010,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2010-02-12,1641957.4400,1,38.5100,2.5480,211.2422,8.1060,2010,2,...,NaN,NaN,42.3100,NaN,2.5720,NaN,8.1060,NaN,211.0964,NaN
2,1,2010-02-19,1611968.1700,0,39.9300,2.5140,211.2891,8.1060,2010,2,...,NaN,NaN,38.5100,NaN,2.5480,NaN,8.1060,NaN,211.2422,NaN
3,1,2010-02-26,1409727.5900,0,46.6300,2.5610,211.3196,8.1060,2010,2,...,NaN,NaN,39.9300,NaN,2.5140,NaN,8.1060,NaN,211.2891,NaN
4,1,2010-03-05,1554806.6800,0,46.5000,2.6250,211.3501,8.1060,2010,3,...,NaN,NaN,46.6300,NaN,2.5610,NaN,8.1060,NaN,211.3196,NaN

In [6]:
# ค่าเฉลี่ยสะสมจนถึงสัปดาห์ก่อนหน้า
df['Store_avg_to_date'] = (
    df.groupby('Store')['Weekly_Sales_Real']
      .apply(lambda s: s.shift(1).expanding().mean())
      .reset_index(level=0, drop=True)
)

# โมเมนตัม 8 สัปดาห์ (≥1 = เหนือค่าเฉลี่ยระยะสั้น)
df['Momentum_8w'] = df['Weekly_Sales_Real'] / df['Weekly_Sales_Real'].rolling(8).mean()
df.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Year,Month,...,Temperature_lag1,Temperature_roll8,Fuel_Price_lag1,Fuel_Price_roll8,Unemployment_lag1,Unemployment_roll8,CPI_lag1,CPI_roll8,Store_avg_to_date,Momentum_8w
0,1,2010-02-05,1643690.9000,0,42.3100,2.5720,211.0964,8.1060,2010,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2010-02-12,1641957.4400,1,38.5100,2.5480,211.2422,8.1060,2010,2,...,42.3100,NaN,2.5720,NaN,8.1060,NaN,211.0964,NaN,1308915.8473,NaN
2,1,2010-02-19,1611968.1700,0,39.9300,2.5140,211.2891,8.1060,2010,2,...,38.5100,NaN,2.5480,NaN,8.1060,NaN,211.2422,NaN,1307774.3781,NaN
3,1,2010-02-26,1409727.5900,0,46.6300,2.5610,211.3196,8.1060,2010,2,...,39.9300,NaN,2.5140,NaN,8.1060,NaN,211.2891,NaN,1299343.8987,NaN
4,1,2010-03-05,1554806.6800,0,46.5000,2.6250,211.3501,8.1060,2010,3,...,46.6300,NaN,2.5610,NaN,8.1060,NaN,211.3196,NaN,1254862.5045,NaN

In [7]:
def iqr_cap(s, k=1.5):
    q1, q3 = s.quantile([0.25, 0.75])
    iqr = q3 - q1
    lo, hi = q1 - k*iqr, q3 + k*iqr
    return s.clip(lo, hi)

df['Weekly_Sales_Real_capped'] = df.groupby('Store')['Weekly_Sales_Real'].transform(iqr_cap)
df.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Year,Month,...,Temperature_roll8,Fuel_Price_lag1,Fuel_Price_roll8,Unemployment_lag1,Unemployment_roll8,CPI_lag1,CPI_roll8,Store_avg_to_date,Momentum_8w,Weekly_Sales_Real_capped
0,1,2010-02-05,1643690.9000,0,42.3100,2.5720,211.0964,8.1060,2010,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1308915.8473
1,1,2010-02-12,1641957.4400,1,38.5100,2.5480,211.2422,8.1060,2010,2,...,NaN,2.5720,NaN,8.1060,NaN,211.0964,NaN,1308915.8473,NaN,1306632.9090
2,1,2010-02-19,1611968.1700,0,39.9300,2.5140,211.2891,8.1060,2010,2,...,NaN,2.5480,NaN,8.1060,NaN,211.2422,NaN,1307774.3781,NaN,1282482.9397
3,1,2010-02-26,1409727.5900,0,46.6300,2.5610,211.3196,8.1060,2010,2,...,NaN,2.5140,NaN,8.1060,NaN,211.2891,NaN,1299343.8987,NaN,1121418.3219
4,1,2010-03-05,1554806.6800,0,46.5000,2.6250,211.3501,8.1060,2010,3,...,NaN,2.5610,NaN,8.1060,NaN,211.3196,NaN,1254862.5045,NaN,1236648.1954

In [8]:
df['Target_next_week'] = df.groupby('Store')['Weekly_Sales_Real_capped'].shift(-1)

# ตัดแถวที่มี NaN จากการทำ lag/shift
before = len(df)
df_model = df.dropna().reset_index(drop=True)
print(f"Rows: {before:,} → {len(df_model):,} after dropna")
df.head()

Rows: 6,435 → 4,050 after dropna

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Year,Month,...,Fuel_Price_lag1,Fuel_Price_roll8,Unemployment_lag1,Unemployment_roll8,CPI_lag1,CPI_roll8,Store_avg_to_date,Momentum_8w,Weekly_Sales_Real_capped,Target_next_week
0,1,2010-02-05,1643690.9000,0,42.3100,2.5720,211.0964,8.1060,2010,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1308915.8473,1306632.9090
1,1,2010-02-12,1641957.4400,1,38.5100,2.5480,211.2422,8.1060,2010,2,...,2.5720,NaN,8.1060,NaN,211.0964,NaN,1308915.8473,NaN,1306632.9090,1282482.9397
2,1,2010-02-19,1611968.1700,0,39.9300,2.5140,211.2891,8.1060,2010,2,...,2.5480,NaN,8.1060,NaN,211.2422,NaN,1307774.3781,NaN,1282482.9397,1121418.3219
3,1,2010-02-26,1409727.5900,0,46.6300,2.5610,211.3196,8.1060,2010,2,...,2.5140,NaN,8.1060,NaN,211.2891,NaN,1299343.8987,NaN,1121418.3219,1236648.1954
4,1,2010-03-05,1554806.6800,0,46.5000,2.6250,211.3501,8.1060,2010,3,...,2.5610,NaN,8.1060,NaN,211.3196,NaN,1254862.5045,NaN,1236648.1954,1144804.4746

In [10]:
feature_cols = [
    # calendar
    'Year','Month','Week','Quarter','DayOfWeek','Month_sin','Month_cos',
    # flags
    'Holiday_Flag','Peak_Season_Flag',
    # lags/rolls ของยอดขายจริง
    'Weekly_Sales_Real_lag1','Weekly_Sales_Real_lag2','Weekly_Sales_Real_lag4',
    'Weekly_Sales_Real_rollmean4','Weekly_Sales_Real_rollmean8','Weekly_Sales_Real_rollstd8',
    # external drivers
    'Temperature_lag1','Fuel_Price_lag1','Unemployment_lag1','CPI_lag1',
    'Temperature_roll8','Fuel_Price_roll8','Unemployment_roll8',
    # store
    'Store_avg_to_date','Momentum_8w'
]

X = df_model[feature_cols].copy()
y = df_model['Target_next_week'].copy()

meta = df_model[['Store','Date','Weekly_Sales','Weekly_Sales_Real']]
X.shape, y.shape
df.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Year,Month,...,Fuel_Price_lag1,Fuel_Price_roll8,Unemployment_lag1,Unemployment_roll8,CPI_lag1,CPI_roll8,Store_avg_to_date,Momentum_8w,Weekly_Sales_Real_capped,Target_next_week
0,1,2010-02-05,1643690.9000,0,42.3100,2.5720,211.0964,8.1060,2010,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1308915.8473,1306632.9090
1,1,2010-02-12,1641957.4400,1,38.5100,2.5480,211.2422,8.1060,2010,2,...,2.5720,NaN,8.1060,NaN,211.0964,NaN,1308915.8473,NaN,1306632.9090,1282482.9397
2,1,2010-02-19,1611968.1700,0,39.9300,2.5140,211.2891,8.1060,2010,2,...,2.5480,NaN,8.1060,NaN,211.2422,NaN,1307774.3781,NaN,1282482.9397,1121418.3219
3,1,2010-02-26,1409727.5900,0,46.6300,2.5610,211.3196,8.1060,2010,2,...,2.5140,NaN,8.1060,NaN,211.2891,NaN,1299343.8987,NaN,1121418.3219,1236648.1954
4,1,2010-03-05,1554806.6800,0,46.5000,2.6250,211.3501,8.1060,2010,3,...,2.5610,NaN,8.1060,NaN,211.3196,NaN,1254862.5045,NaN,1236648.1954,1144804.4746

In [11]:
from pathlib import Path
out_dir = Path(r"S:\BusinessAnalyticProject\data\processed")
out_dir.mkdir(parents=True, exist_ok=True)

df_out = pd.concat([meta, X, y.rename('Target')], axis=1)
df_out.to_csv(out_dir / "walmart_features_weekly.csv", index=False)

df_out.head()

,Store,Date,Weekly_Sales,Weekly_Sales_Real,Year,Month,Week,Quarter,DayOfWeek,Month_sin,...,Temperature_lag1,Fuel_Price_lag1,Unemployment_lag1,CPI_lag1,Temperature_roll8,Fuel_Price_roll8,Unemployment_roll8,Store_avg_to_date,Momentum_8w,Target
0,1,2011-02-04,1606629.5800,1270552.0874,2011,2,5,1,4,0.8660,...,43.8300,3.0100,7.7420,212.1971,46.0588,2.9407,7.7900,1204743.5771,1.0052,1302279.9853
1,1,2011-02-11,1649614.9300,1302279.9853,2011,2,6,1,4,0.8660,...,42.2700,2.9890,7.7420,212.5669,45.5512,2.9590,7.7780,1205985.2471,1.0513,1329726.0887
2,1,2011-02-18,1686842.7800,1329726.0887,2011,2,7,1,4,0.8660,...,36.3900,3.0220,7.7420,212.9367,43.8700,2.9781,7.7660,1207768.4830,1.1388,1146837.8671
3,1,2011-02-25,1456800.2800,1146837.8671,2011,2,8,1,4,0.8660,...,57.3600,3.0450,7.7420,213.2479,44.4988,2.9980,7.7540,1209985.8940,0.9760,1286383.4399
4,1,2011-03-04,1636263.4100,1286383.4399,2011,3,9,1,4,1.0000,...,62.9000,3.0650,7.7420,213.5356,46.3075,3.0132,7.7420,1208858.2507,1.0789,1219433.8976